@import 'scss/styles.scss';

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Components 
@import 'components/Modules/Loans/AddNewLoan/AddLoan.scss';
@import 'components/Modules/Loans/LoanCard/LoanCard.scss';