  .products-component button {
    margin: 10px;
  }

  .products-component button span{
    margin-left: 5px;
  }

  .products-wrapper {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .product-container {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(235, 237, 240);
    width: 195px;
    margin: 15px auto;
    height: 300px;
  }

  .product-container img {
    width:100%;
  }
  
  .product-price { 
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-weight: bold;
  }
  